# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
.env
db.sqlite3
staticfiles/
media/

# SSH keys
gcp_key
gcp_key.pub
railway_gcp_key
railway_gcp_key.pub

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# personal documentations
tests.txt
DEPLOY.md